<div class="image">
</div>
<div class="signup-message">
    <h2>Welcome to our community!</h2>
    <p>Sign up now to get access to exclusive content.</p>
  </div>
  <div class="form-container">
    <form #loginform="ngForm" (ngSubmit)="Registeruser()">
        <small class="text-danger">{{msg}}</small>
    <div class="form-group">
        <label for="email" class="label-space">Email</label>
        <input type="email" id="email" class="form-control input" placeholder="Enter your email" name="email" [(ngModel)]="user.emailId"
        #email="ngModel" required [class.is-invalid]="email.invalid && email.touched">
        <div class="invalid-feedback">Please provide a valid email.</div>
    </div>
    <div class="form-group">
        <label for="email" class="label-space">Username</label>
        <input type="text" class="form-control input" placeholder="Enter username" name="userName" [(ngModel)]="user.userName"
        #userName="ngModel" required [class.is-invalid]="userName.invalid && userName.touched">
        <small class="text-danger" [class.d-none]="userName.valid || userName.untouched">Username is required</small>
    </div>
    <div class="form-group">
        <label for="email" class="label-space">Password</label>
        <input type="password" class="form-control input" placeholder="Enter password" name="password" [(ngModel)]="user.password"
        #password="ngModel" required [class.is-invalid]="password.invalid && password.touched">
        <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password is required</small>
    </div>
  
    <button type="submit" class="btn btn-info sign">SIGN UP</button>
    <small class="text-muted ">Existing user ? <a class="text-info" [routerLink]="['/login']">Log here</a></small>
  </form>
  </div>
