

.movie {
    background-color:#333;
    padding: 1.2rem;
    border-radius: 2rem;
    margin-top: -1em;
    cursor: pointer;
    transition: all 0.3s ease;
    width:300%;
    height:350px;
}
.movie:hover{
   
    transform :scale(1.05);
}
.movie img {
    height:200px;
    width:300px;
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    border: 1px solid #ddd;
    border-radius: 2rem;
}

.movie p {
    margin-top: 10px;
    color:#fff;
    font-weight: bold;
    font-size: 20px;
}