<div class="movie">
    <div class="image">
        <img src="https://image.tmdb.org/t/p/original/{{ film.backdrop_path }}" [alt]="film?.title">
    </div>
    <div class="info">
        <h2>{{ film?.title }}</h2>
        <p>ID: {{ film?.id }}</p>
        
        <button class="btn btn-primary" (click)="addFilm()">Add to Favorites</button>
    </div>
</div>
<div class="movie1">
    <div class="info">
        <h3>Details</h3>
        <p><strong>Title:</strong> {{ film?.title }}</p>
        <p><strong>ID:</strong> {{ film?.id }}</p>
        <p><strong>Overview:</strong> {{film?.overview}}</p>
        <p><strong>Popularity:</strong> {{film?.popularity}}</p>
        <p><strong>Release Date:</strong> {{film?.release_date}}</p>
        <p><strong>Vote Average:</strong> {{film?.vote_average}}</p>
        <p><strong>Vote Count:</strong> {{film?.vote_count}}</p>
    </div>
</div>
