
<div class="image">
</div>
<div class="signup-message">
    <h2>Welcome to our community!</h2>
    <p>Sign up now to get access to exclusive content.</p>
  </div>
<div class="form-container">
<form #loginform="ngForm" (ngSubmit)="loginuser()">
    <small class="danger">{{msg}}</small>
<div class="form-group" >
    <label for="email" class="label-space">Email</label>
    <input type="email" class="form-control input" placeholder="Enter your email" name="email" [(ngModel)]="user.emailId"
    #email="ngModel" required [class.is-invalid]="email.invalid && email.touched">
    <div class="invalid-feedback">Please provide a valid email.</div>
</div>
<div class="form-group" >
    <label for="password" class="label-space"> Password</label>
<input type="password" id ="password"class=" form-control input" placeholder="Enter your password " name="password"  [(ngModel)]="user.password">
</div>
<button type="submit" class="btn btn-info sign" >Login</button>
<div>
    <small class="text-muted  tes">New User ? <a class="text-info" [routerLink]="['/registration']">Register here</a></small>
</div>
</form>
</div>